<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindCare - A Path to Wellness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" id="main-container">
        
        <!-- Initial Landing Page View -->
        <div id="landing-page">
            <div class="hero-section">
                <div class="logo"></div>
                <h1 class="main-title">MindCare</h1>
                <p class="tagline">Your first step towards a healthier, happier mind.</p>
            </div>
            <div class="user-selection">
                <h2>I am a...</h2>
                <div class="button-container">
                    <a href="/student_form" class="user-selection-btn">Student</a>
                    <a href="/professional_form" class="user-selection-btn">Working Professional</a>
                </div>
            </div>
        </div>

        <div id="prediction-result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>